* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  display: block;
}

h2 {
  font-size: 32px;
}


/*Header*/

header {
  width:  100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 0px;
}

.headerlogo {
  background-image:url('../images/img-tea-cozy-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  height: 50px;
  width: 150px;
}

ul {
  list-style-type: none;
  display: inline-flex;
  margin-right: 20px;
  margin-top: 7px;
}

li {
  margin: 10px;
}

/*Header-end*/


/*mission*/

main {
  background-image: url('../images/img-mission-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 69px;
}

.mission {
  width: 100%;
}

/*mission-end*/


/*featuredtea*/

#featuredtea {
  margin-top: 80px;
}

.featured {
  width: 1000px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  opacity: 1;
}

.item {
  display: inline-block;
  margin: 0 10px;
}

.item h4 {
  position: relative;
  margin-top: 10px;
}

.fallberryblitztea {
  background-image: url('../images/img-berryblitz.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}

.spicedrumtea {
  background-image: url('../images/img-spiced-rum.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}

.seasonaldonuts {
  background-image: url('../images/img-donut.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}

.myrtleavetea {
  background-image: url('../images/img-myrtle-ave.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}

.bedfordbizarretea {
  background-image: url('../images/img-bedford-bizarre.jpg');
  background-size: contain;
  width: 300px;
  height: 200px;
}

/*featuredtea-end*/


/*locations*/

.locations {
  background-image: url('../images/img-locations-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  margin-top: 80px;
  display: inline-block;
}

.locations-container {
  display: inline-flex;
  background-color: transparent;
}

.locations h2 {
  background-color: transparent;
  margin-top: 60px;
}

.downtown {
  width: 300px;
  height: 300px;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;

}

.eastbayside {
  width: 300px;
  height: 300px;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
}

.oakdale {
  width: 300px;
  height: 300px;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
}

h3 {
  font-weight: lighter;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

/*locations-end*/



footer h5 {
  text-align: left;
}
